[project]
	description = juju is devops distilled
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ian Booth (wallyworld)
[access "refs/for/refs/*"]
	read = group user/Ian Booth (wallyworld)
	push = group user/Ian Booth (wallyworld)
	label-Code-Review = -2..+2 group user/Ian Booth (wallyworld)
	label-Verified = -1..+1 group user/Ian Booth (wallyworld)
	rebase = group user/Ian Booth (wallyworld)
	removeReviewer = group user/Ian Booth (wallyworld)
	submit = group user/Ian Booth (wallyworld)
[access "refs/heads/*"]
	read = group user/Ian Booth (wallyworld)
	create = group user/Ian Booth (wallyworld)
	push = +force group user/Ian Booth (wallyworld)
	pushMerge = group user/Ian Booth (wallyworld)
[access "refs/tags/*"]
	push = +force group user/Ian Booth (wallyworld)
	pushTag = group user/Ian Booth (wallyworld)
	pushSignedTag = group user/Ian Booth (wallyworld)
